body {
    background-color: #3C4245;
}

.play_button {
    background-color:#719192;
    height:160px;
    width: 40%;
    border-radius: 15px;
    font-family:'Finger Paint', cursive;
    font-size: 2rem;
    border: none;
    
}

#start_button, #back_button, #play_again_button {
    background-color: #719192;
    height:80px;
    width: 20%;
    margin-top: 1em;
    border-radius: 15px;
    font-family:'Finger Paint', cursive;
    font-size: 2rem;
    border: none;
}

.play_button:hover, #start_button:hover, #back_button:hover, #play_again_button:hover {
    background-color: #5F6769;
    color:white;
}

#header {
    display: inline-block;
    font-family: 'Monoton', cursive;
    text-align: center;
    margin-bottom: 1em;
    font-size: 50px;
    width: 15%;
    color: white;
}

#tic-tac-toe-board {
    height: 80vh;
    width: 80vw;
}

#board {
    background-color: #719192;
    
}

#inform_user {
    font-family:'Finger Paint', cursive;
    color:white;
    font-size:2em;
    margin-top:1em;


}

/* styling for tictactoe board */

.row {
    margin-top:2em;
}

.col {
    height: 30vh;   
    background-color: #719192; 
    font-size: 100px;
    color: #3c4245;
    text-align: center;
    font-family:'Finger Paint', cursive;
}

.col:hover {
    background-color: lightblue;
}